@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 70%;
    height: 100vh;
    margin: 0 auto;
    background-color: #f4f4f4;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2;
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: 0.8rem;
}

footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
}

.divider {
    border-bottom: 1px dotted #333;
    margin-bottom: 0.5rem;
}

nav {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px dotted #333;
    margin-bottom: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        li {
            border-radius: 5px;

            a {
                padding: 0.5rem;
                font-size: 0.8rem;
                text-decoration: none;
            }
        }
    }
}

a {
    color: #333 !important;;

    &:hover {
        font-size: 1.05rem;
        text-decoration: underline !important;
    }
}

main {
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    #banner {
        h1 {
            margin-bottom: 0.4rem;
        }

        margin-bottom: 2rem;
    }

    #about {
        h1 {
            margin-bottom: 2rem;
        }
    }

    #socials {
        ul {
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            gap: 0.4rem;

            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    #posts {

        ul {
            list-style: none;
        }

        h1 {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        .post {
            margin-bottom: 1rem;
            display: flex;
            gap: 0.3rem;
            align-items: center;

            .post-summary {
                margin-bottom: 0.1rem;
            }
        }
    }

    #raw-post-contents {
        display: none;
    }

    #cv {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            margin-bottom: 1rem;
        }

        #languages {
            list-style: none;

            li {
                margin-bottom: 0.4rem;
            }
        }

        #work, #education {
            .work-entry, .education-entry {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                margin-bottom: 2rem;

                .work-entry-company, .education-entry {
                    font-weight: bold;
                }

                .work-entry-position, .education-entry-institution {
                    display: block;
                    font-style: italic;
                }

                .work-entry-tagline, .education-entry-tagline {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
    }
}

#matrix {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

@media screen and (max-width: 640px) {
    body {
        max-width: 90%;
    }

    nav {
        ul {
            justify-content: center;
        }
    }

    main {
        #banner {
            h1 {
                text-align: center;
            }
        }
    }
}
