<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.thymeleaf.org"
>
<head>
    <title layout:title="About - Alexander Goussas"></title>
</head>
<body>

<div layout:fragment="content" id="about">

    <h1>About</h1>

    <p>
        Hi, I'm Alexander Goussas. I'm currently working as a software developer at Thoughtworks.
        Prior to this, I worked in national industry here in Ecuador at Tia S.A. and ESPOL.
        The last one is also the university where I studied Computer Science, but I abandoned my
        degree in the last semester. The project I was working on was a custom OTEL collector
        to attempt to reduce the performance impact of distributed tracing.
    </p>
    <p>
        I was born here in Ecuador, but spent most of my childhood in Venezuela and Spain. Fun fact: I was in Spain when
        they won their first World Cup. In my free time, I love reading, learning (human) languages and working on side
        projects. My favourite literature genre is fantasy, but I also read philosophy and
        others.
    </p>
    <p>
        This blog serves as a way to share the stuff I learn and that I think might be useful to others.
        If you have any comments or questions about any material on this site, feel free to send me an email.
    </p>
</div>

</body>
</html>
