<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
>
<head>
    <title layout:title="Alexander Goussas"></title>
</head>
<body>

<div layout:fragment="content">

    <section id="banner">
        <h1>Alexander Goussas</h1>

        <p>
            Fullstack software developer specializing in backend services with SpringBoot.
            I know Java better than I know Spanish.
        </p>
    </section>

    <section id="socials">
        <ul>
            <li><a href="https://github.com/aloussase">GitHub</a></li>
        </ul>
    </section>
</div>

</body>
</html>
